@charset "UTF-8";

.tools {
}

.point {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 68px;
    transform: translate(-50%, -50%);
    .map_icon {
        width: 42px;
        height: 50px;
    }
    .dot {
        width: 14px;
        height: 8px;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.5);
    }
    .map_up {
        transform: translateY(-24px);
        transition: transform 0.2s;
    }
    .dot_up {
        width: 20px;
        height: 14px;
        border-radius: 50%;
        transition: all 0.2s;
    }
}

.search {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 0 30px;
    top: 0;
    left: 0;
    right: 0;
    height: 120px;
    transition: width 0.2s;
    background: #fff;
    z-index: 1000;
    &_city {
        font-size: 28px;
    }
    &_input {
        margin-left: 20px;
        padding: 0 30px;
        height: 78px;
        border: none;
        outline: none;
        color: $subColor;
        background: #f6f6f6;
        border-radius: 40px;
        &::-webkit-input-placeholder {
            display: inline-flex;
            align-items: center;
            height: 78px;
            color: $ignoreColor;
            line-height: normal;
            line-height: 78px;
        }
    }
    &_button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 50px;
        font-size: 28px;
        color: $ignoreColor;
    }
    .width500 {
        width: 500px;
    }
    .width400 {
        width: 400px;
    }
}

.wrap {
    position: fixed;
    top: 120px;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(148, 148, 148);
    z-index: 999;
    .poi_list {
        height: 100%;
        background: #fff;
        overflow: auto;
        overflow-x: hidden;
        .poi_item {
            @include one-pix-line("bottom", #efefef);
            margin: 0 30px;
            padding: 30px 0;
            color: $baseColor;
            &_name {
                font-size: 34px;
            }
            &_address {
                @include ellipsisBasic(1);
                margin-top: 10px;
                font-size: 28px;
                color: $subColor;
            }
        }
    }
    .result_null {
        display: flex;
        align-items: center;
        width: 100%;
        &_text {
            margin: 200px auto 0 auto;
            color: $ignoreColor;
            font-size: 28px;
        }
    }
}
