@charset "UTF-8";

.point {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 68px;
    transform: translate(-50%, -50%);
    .address {
        position: relative;
        top: -200px;
        left: 0;
        width: 400px;
        height: 200px;
        background: #fff;
    }
    .map_icon {
        width: 42px;
        height: 50px;
    }
    .dot {
        width: 14px;
        height: 8px;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.5);
    }
    .map_up {
        transform: translateY(-24px);
        transition: transform .2s;
    }
    .dot_up {
        width: 20px;
        height: 14px;
        border-radius: 50%;
        transition: all 0.2s;
    }
}






